<div id="parte1-contenedor">
   <div id="parte1">
      <h1 id="titulo">Cinema <br> Ironhack</h1>
    
      <a href="/movies">
         <button id="boton"> Check the movies!</button>
      </a>
   </div>
</div>


